@keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
  }
  
  .glow-green {
    animation: glow 1.5s infinite;
  }
  
  .glow-red {
    animation: glow 1.5s infinite;
  }
  